/* @group Reset */

input, select, textarea{
  border: 1px solid $text-base;
  outline: 0;
  &:focus{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
  }
  &:disabled{
    cursor: not-allowed;
  }
}

input:not([type = checkbox]):not([type = radio]), select, textarea{
  border-radius: 0;
  appearance: none;
}

::placeholder {
  color: $text-base;
}

/* @end  */