/* @group Reset */

img{
  max-width: 100%;    
  height: auto;
  content-visibility: auto;
  display: inline-block;
}

/* @end  */


/* @group Nuxt Image */
.nuxt-image{
  --ratio: 1.4;

  width: 100%;
  padding-top: calc(100% * var(--ratio));
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

/* @end */