@import 'modern-css-reset';
@import './_paddings.scss';
@import './_margins.scss';
@import './_images.scss';
@import './_transitions.scss';
@import './_layout.scss';
@import './_list.scss';
@import './_visibility.scss';

*{
  position: relative;
}

html{
  min-height: 100vh;
}

body{
  background-color: $background-base;
  height: 100%;
}

