$font-family-1: "MrEavesXLModOT", sans-serif;

$font-lineHeight-base: 1.6;

$font-weight-base: 400;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

$font-spacing-base: 0.01rem;
