// @include font-face(Roboto, "path/Roboto", 400, normal);

:root{
  font-size: 62.5%;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  font-family: $font-family-1;
  font-weight: $font-weight-base;
  letter-spacing: $font-spacing-base;
  line-height: $line-height-base;
  color: $text-base;
  font-size: $font-size-base;
}

@import './_text.scss';
@import './_heading.scss';
@import './_links.scss';
@import './_buttons.scss';
@import './_navigation.scss';
@import './_input.scss';